@font-face {
    font-family: 'font-default';
    src: url('../assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
    font-family: 'font-secundaria';
    src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

:root {
    --blue-default: #005CFF;
    --light-gray: #E7E7EA;
    --gray: #C2C2C2;

    --font-default: 'font-default', 'sans-serif';
    --font-secundaria: 'font-secundaria', 'sans-serif';
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: var(--font-default);
    font-weight: normal;
}

/******************** HEADER *******************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
}

.header-desconto {
    text-align: center;
    background-color: var(--blue-default);
    color: #fff;
    padding: 6px;
}

.header-desconto span {
    background-color: #6220C1;
    border-radius: 5px;
    padding: 0px 2px;
}

.header-desconto p {
    font-size: 14px;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.logo-input {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.header-logo {
    height: 26px;
    cursor: pointer;
}

.header-logo-mobile {
    display: none;
}

.inputs-header {
    display: flex;
    align-items: center;
}

.input {
    padding: 8px 1rem;
    width: 500px;
    border-radius: 9px;
    font-size: 14px;
    border: 1px solid var(--gray);
    font-family: var(--font-default);
    font-weight: bold;
}

.button-search {
    padding: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-search i {
    font-size: 1.4rem;
}

.customer-cart {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.customer-cart i {
    font-size: 1.3rem;
}

.customer-cart-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.customer-cart-user i {
    color: var(--blue-default);
}

.customer-cart-user p {
    font-size: 12px;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 13px;
    padding: 10px 10px 16px 10px;
}

.nav-content p {
    cursor: default;
}

.nav-content p:hover {
    color: var(--blue-default);
    transition: 0.3s;
}

.menu-categories {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: bold;
    cursor: default;
}

.menu-categories:hover {
    color: var(--blue-default);
    transition: 0.3s;
}

.menu-categories i {
    font-size: 16px;
}

/* DROPDOWN MENU */
.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22rem;
    color: #363636;
}

.dropdown-options {
    display: flex;
    gap: 2.5rem;
}

.options-arrow-container {
    background-color: #f7f7f7;
}

.options-arrow {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 13px;
    padding: 4px 10px;
}

.general-options {
    display: flex;
    gap: 7.2rem;
    font-size: 13px;
}

.options li {
    list-style: none;
    padding: 4px;
}

.banner-container {
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 275px;
    overflow: hidden;
    border-radius: 12px;
    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.336)), 
        url('../assets/images/caneca-cenario-editada.png');
    background-size: cover;
    background-position: center;
}
  
.banner-container img {
    width: 100%;
    display: block;
}
  
.banner-content {
    position: absolute;
    top: 15%;
    left: 10%;
    color: white;
    z-index: 10;
    gap: 1.5rem;
  
    display: flex;
    flex-direction: column;

    font-size: 1.3rem;
}

.banner-content span {
    font-weight: lighter;
}

.banner-content button {
    width: 120px;
    padding: 10px 8px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
}

.menu-burguer-button {
    display: none;
}

/******************** HERO-SECTION *******************/
.hero-section {
    height: 470px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: var(--light-gray);
    margin-top: 141px;
    margin-bottom: 6rem;
}

.mobile-img {
    display: none;
}

.hero-img {
    height: 100%;
    overflow: hidden;
}

.hero-img img {
    height: 100%;
    object-fit: cover;
}

.hero-title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: var(--font-secundaria);
}

.hero-title-container h1 {
    font-size: 5.5rem;
    padding-bottom: 5px;
}

.hero-title-container h1 span {
    font-weight: normal;
}

.hero-subtitle1 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding-bottom: 8px;
    color: var(--blue-default);
}

.hero-subtitle2 {
    font-size: 3.5rem;
    color: var(--blue-default);
}

/****************** SWIPER-SECTION *********************/
.swiper-section {
    display: flex;
    justify-content: center;
    margin-bottom: 5.5rem;
}

.swiper-section-container {
    width: 1255px;
    position: relative;
    padding-bottom: 35px;
}

.swiper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.1rem;
}

.swiper-title h3 {
    font-size: 1.2rem;
}

.swiper-title p {
    font-size: 14px;
}

.cards-container {
    width: 1255px;
    overflow: hidden;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--blue-default);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 55%;
  transform: translateY(-50%);
  z-index: 10;
  right: 5px;
}

.swiper-button-next {
    right: -16px;
}

.swiper-button-prev {
    left: -16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 17px;
  font-weight: bold;
  color: var(--blue-default);
}

.card {
    border: 1px solid #C2C2C2;
    width: 240px;
    padding: 11px;
    border-radius: 10px;
    height: 100%;
}

.card-img {
    display: flex;
    justify-content: center;
}

.card-img img {
    height: 230px;
    padding-bottom: 14px;
}

.card-desc {
    font-size: 15px;
    padding-bottom: 5px;
}

.card-prices-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 2px;
}

.price1 {
    font-size: 13px;
    text-decoration: line-through;
    color: #494949;
}

.price2 {
    font-weight: bold;
    font-size: 17px;
}

.discount {
    font-size: 13px;
    text-decoration: underline;
    background-color: #5EC0BE;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
}

.price-10x {
    font-size: 13px;
    padding-bottom: 14px;
    color: #272727;
}

.price-10x span {
    font-weight: bold;
}

.card-button {
    width: 100%;
    padding: 11px 0px;
    font-size: 15px;
    font-family: var(--font-default);
    font-weight: 600;
    color: #fff;
    background-color: var(--blue-default);
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #0b54d1;
    transition: 0.3s;
}

/****************** ABOUT-SECTION *******************/
.about-section {
    margin-bottom: 5rem;
}

.about-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 626px;
    height: 670px;
    background-color: #C2C2C2;
}

.about-section-img img {
    height: 542px;
}

.about-text {
    width: 410px;
}

.about-text h2 {
    font-family: var(--font-secundaria);
    padding-bottom: 17px;
}

.about-text p {
    padding-bottom: 17px;
    font-family: var(--font-secundaria);
}

/****************** CLASSIFICATION-SECTION *******************/
.classification-section {
    margin-bottom: 5rem;
}

.classification-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: #DEDEDE;
    padding: 2.2rem 0px;
}

.classification-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.6rem;
    width: 450px;
}

.classification-text h2 {
    color: #494949;
    font-family: var(--font-secundaria);
}

.text-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.text-icon-container img {
    font-size: 2.2rem;
    background-color: var(--blue-default);
    color: #fff;
    padding: 1.4rem;
    border-radius: 50%;
}

.text-icon-container p {
    color: #494949;
    font-size: 1.1rem;
}

.classification-img {
    height: 680px;
}

/****************** BACKGROUND-SECTION *******************/
.background-section {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 640px;
    overflow: hidden;
    margin-bottom: 4rem;
}

.background-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/background-img.png') center / cover no-repeat;
    filter: blur(2px);
    z-index: 1;
}

.background-section > * {
    position: relative;
    z-index: 2;
}

.background-section-container {
    width: 100%;
}

.background-section-text {
    background-color: var(--blue-default);
    text-align: center;
}

.background-section-text p {
    font-size: 1.4rem;
    color: #fff;
    padding: 2.4rem 0px;
}

/****************** NEWSLETTER-SECTION *******************/
.newsletter-section {
    margin-bottom: 4rem;
}

.newsletter-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter-section-title {
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
}

.newsletter-section-title span {
    color: var(--blue-default);
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 4rem 5.5rem;
    background-color: #DEDEDE;
    border-radius: 10px;
}

.form-inputs {
    display: flex;
    align-items: center;
    gap: 16px;
}

.newsletter-input {
    font-size: 15px;
    font-family: var(--font-default);
    padding: 12px;
    width: 250px;
    border-radius: 7px;
    border: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox-label {
    font-weight: 600;
    font-size: 12px;
    color: #363636;
}

.checkbox-label span {
    text-decoration: underline;
}

.newsletter-button {
    padding: 12px 20px;
    font-size: 15px;
    font-family: var(--font-default);
    font-weight: 600;
    color: #fff;
    background-color: var(--blue-default);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/****************** FOOTER-SECTION *******************/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 4rem 1rem;
    margin-bottom: 3rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 7.5rem;
    margin-bottom: 3rem;
}

.footer-title img {
    height: 26px;
    margin-bottom: 1.6rem;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.footer-icons i {
    font-size: 1.3rem;
    color: var(--blue-default);
    cursor: pointer;
}

.infos-container {
    display: flex;
    justify-content: center;
    gap: 7.5rem;
}

.info-title {
    margin-bottom: 12px;
}

.info h5 {
    margin-bottom: 10px;
    font-weight: 400;
}

.info span {
    font-weight: 700;
}

.info-horario-atendimento-container p {
    font-size: 14px;
}

.companies-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.companies-icons-space1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.companies-icons-space2 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-accordion {
    display: none;
}

/*************** FOOTER-FINAL-SECTION ****************/
.footer-final {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-final-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
    width: 1000px;
}

.footer-final-container p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 2rem;
    color: #363636;
}

.companies {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/******************** MEDIA QUERIES ***********************/
@media screen and (max-width: 1540px) {
    
    .header-content {
        justify-content: space-around;
    }

    nav {
        gap: 2.9rem;
        padding: 2px 40px 2px 40px;
    }

}

@media screen and (max-width: 1400px) {
    
    .header-content {
        justify-content: space-around;
    }

    nav {
        gap: 2.4rem;
    }

}

@media screen and (max-width: 1300px) {
    
    .header-content {
        justify-content: space-between;
        padding: 15px 37px;
    }

    nav {
        gap: 0rem;
    }

    /************* SWIPER-SECTION RESPONSIVE ****************/
    .swiper-section-container {
        width: 90vw;
    }

    .cards-container {
        width: 90vw;
        overflow: hidden;
        position: relative;
    }

    .card-img img {
        width: 100%;
        padding-bottom: 14px;
    }

}

@media screen and (max-width: 1000px) {

    /**************** HEADER RESPONSIVE ****************/
    .header-desconto {
        padding: 6px 25px;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        gap: 7px;
        padding: 10px;
    }
    
    .logo-input {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 4px 0px 8px 0px;
    }

    .header-logo {
        display: none;
    }
    
    .header-logo-mobile {
        display: block;
        height: 19px;
    }

    .responsive-header-layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 3px;
    }
    
    .inputs-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .input {
        width: 90%;
        padding: 8px 9px;
    }
    
    .customer-cart {
        gap: 15px;
    }
    
    nav {
        display: none;
    }

    .customer-cart-user p {
        display: none;
    }

    .menu-burguer-button i {
        display: block;
        font-size: 1.7em;
    }

    .menu-burguer-button {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /***************** HERO-SECTION RESPONSIVE ****************/
    .hero-section {
        flex-direction: column-reverse;
        margin-top: 149px;
        padding-top: 16px;
    }

    .mobile-img {
        display: block;
        height: 100%;
        overflow: hidden;
    }

    .mobile-img img {
        height: 100%;
        object-fit: cover;
    }

    .hero-img {
        display: none;
    }

    .hero-title-container h1 {
        font-size: 4rem;
        padding-bottom: 5px;
    }
    
    .hero-subtitle1 {
        font-size: 1.1rem;
        letter-spacing: 2px;
    }
    
    .hero-subtitle2 {
        font-size: 3rem;
    }

    /************* ABOUT-SECTION RESPONSIVE *************/
    .about-section-container {
        flex-direction: column;
        gap: 2rem;
    }

    .about-section-img {
        height: 570px;
        width: 100%;
    }

    .about-text {
        width: 90vw;
    }

    /************* CLASSIFICATION-SECTION RESPONSIVE *************/
    .classification-section-container {
        flex-direction: column-reverse;
        gap: 2.1rem;
    }

    .newsletter-form {
        padding: 4rem 4rem;
    }

}

@media screen and (max-width: 600px) {
    
    .hero-title-container h1 {
        font-size: 3.5rem;
        padding-bottom: 5px;
    }

    .hero-subtitle1 {
        font-size: 1rem;
        letter-spacing: 2px;
    }

    /************* ABOUT-SECTION RESPONSIVE *************/
    .about-section {
        margin-bottom: 3rem;
    }

    .about-section-img img {
        height: 325px;
    }

    .about-section-img {
        height: 380px;
    }

    /************* CLASSIFICATION-SECTION RESPONSIVE *************/
    .classification-img {
        height: 400px;
        width: 90vw;
    }

    .classification-text {
        width: 90vw;
    }

    .text-icon-container img {
        font-size: 1.9rem;
        padding: 1.2rem;
    }
    
    .text-icon-container p {
        font-size: 1rem;
    }

    /*********** BACKGROUND-SECTION RESPONSIVE ***********/
    .background-section {
        height: 530px;
    }

    .background-section-text p {
        font-size: 1.1rem;
        padding: 2rem 0px;
    }

    /************** NEWSLETTER-SECTION RESPONSIVE **************/
    .newsletter-section-title {
        font-size: 1.1rem;
    }

    .newsletter-form {
        width: 90vw;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .form-inputs {
        flex-direction: column;
        width: 100%;
    }

    .newsletter-input {
        width: 100%;
    }

    .newsletter-button {
        width: 100%;
    }

    /************** FOOTER-SECTION RESPONSIVE **************/
    footer {
        padding: 4rem 0px;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .footer-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu-accordion {
        display: block;
        margin-bottom: 3rem;
        width: 100%;
    }

    .menu-accordion-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .acordion-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
        width: 100%;
        padding: 1rem;
    }

    .acordion-item h5 {
        font-size: 1rem;
    }

    .acordion-item i {
        color: var(--blue-default);
    }

    .infos {
        display: none;
    }

    .companies-icons {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.3rem;
    }

}
